<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todolist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.todolist.TaskListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.todolist.TaskDetailActivity"
            android:label="@string/title_task_detail"
            android:parentActivityName=".TaskListActivity" 
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskListActivity" />
        </activity>
        <activity
            android:name="com.example.todolist.LoginActivity"
            android:label="@string/app_name"
            android:parentActivityName=".TaskListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.todolist.SignUpActivity"
            android:label="@string/sign_up"
            android:parentActivityName=".TaskListActivity" >
        </activity>
    </application>

</manifest>